<app-web>
  <app-task-form [task]="task" />

  <div class="min-w-full shadow rounded-lg overflow-hidden mb-10">
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Tasks
          </th>
        </tr>
      </thead>
      <tbody>
        @for (task of tasks$ | async | taskSort; track task.id) {
          <tr [ngClass]="{ 'bg-gray-50 line-through opacity-50': task?.done }">
            <td class="px-5 py-5 border-b border-gray-200 text-sm">
              <div class="flex">
                <input type="checkbox"
                  class="flex-shrink-0 h-6 w-6 mt-1"
                  value="true"
                  [checked]="task?.done"
                  (change)="toggleDone(task)">
                <div class="ml-4">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">{{ task.title }}</p>
                  <p class="text-gray-500 whitespace-no-wrap">{{ task.description }}</p>
                  <p class="text-gray-400 text-xs whitespace-no-wrap py-3">
                    {{ task.createdAt.toDate() | date:'medium' }}
                  </p>

                  @if (!task?.done) {
                    <div class="flex gap-3">
                      <button
                        class="bg-indigo-500 px-4 py-2 rounded-md text-white tracking-wide cursor-pointer"
                        (click)="editTask(task)">
                        Edit
                      </button>
                      <button
                        class="bg-red-500 px-4 py-2 rounded-md text-white tracking-wide cursor-pointer"
                        (click)="deleteTask(task.id!)">
                        Remove
                      </button>
                    </div>
                  }
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
      <span class="text-xs xs:text-sm text-gray-900">
        Showing {{ (tasks$ | async)?.length }} entries
      </span>
    </div>
  </div>
</app-web>
